<div class="topnav">
    <a  href="/">Acasa</a>
    <a class="active" href="/chestionar">Chestionar</a>
    <% if(typeof user !== 'undefined') {%>
        <% if(user.username ==="Johny" ){%>
    <a href="/delogare">Delogare</a>
    <dreapta >
        <%="Logat ca "+user.username+"."%>
  </dreapta >
    <% } else{%>
        <a href="/autentificare">Autentificare</a>
        <% }}%> 

</div>



<form action="/rezultat-chestionar" method="POST">
    
    <% var count = 0%>
    <% intrebari.forEach(elm =>{ %>
    <div>
        <h3>
            <%= elm.intrebare %>
        </h3>
        <% elm.variante.forEach((varinata,index) => { %>
        <input type="radio" id="<%=varinata %>" name="<%= elm.intrebare %> " value="<%=index%>"> 
        <label for="<%= varinata %>"><%= varinata %></label>
        <% }); %>
        
        
    </div>
    <% }); %>

    <br>
    
    <input type="submit" value="submit">
</form>