<div class="topnav">
    <a class="active" href="/">Acasa</a>
    <a href="/chestionar">Chestionar</a>
    <% if(typeof user !== 'undefined') {%>
    <% if(user.username ==="Johny" ){%>
         <a href="/vizualizare-cos">Vezi cosul</a>
          <a href="/delogare">Delogare</a>
          <dreapta >
                <%="Logat ca "+user.username+"."%>
          </dreapta >
           <% } else{%>
             <a href="/autentificare">Autentificare</a>
            
    <% }}%>
</div>
<centrat>
<form action="/" method="POST">

    <% if(typeof user !== 'undefined') {%>
    <% if(user.username ==="Johny" ){%>
    <p>
        
        <%="Bine ai venit, "+user.username+"!"%>
        <br>
    </p>
   
</form>

</centrat>


<% } }%>








<br>
<br>


<form action="/creare-bd" method="GET">

    <input id="createBD" type="submit" value="createBD">
</form>

<br>
<br>


<% if(typeof user !== 'undefined') {%>
<% if(user.username ==="Johny" ){%>

<% if(typeof x !== 'undefined') {%>
<p>Catalog Produse</p>
<table border="1">
    <thead>
        <tr>
            <th scope="col">Produs</th>
            <th scope="col">Pret</th>

        </tr>
    </thead>

    <%i = 0;%>
    <%j = 0;%>
    <%  toSaleObjects.forEach( ob =>{ %>
    <% if(i == 2){ i = 0;};%>
    <% if(i == 0){%>
    <tbody>
        <td scope="row">
            <%= ob %>


        </td>

        <%}else{%>

        <td>
            <%= ob %>
        </td>
        <td>


            <form action="/adaugare_cos" method="POST">

                <input id="adaugare_cos" type="hidden" name="id" value=<%=j%>>
                <button type="submit">Adaugă în coș!</button>

            </form>


    </tbody>
    </td>
    <%};%>
    <%j++;%>
    <%i++});%>



</table>

<br>
<br>




<%}%>
<% } }%>
